<h1>Welcome to my Rails test app</h1>
<p>It has been a long time since I have played with rails. I recently had my first interview for a software development job since graduating from Coder Academy and my first coding challenge is to create a proof of concept application for the role I would be undertaking and of course it's to be created using the Ruby programming language and built using Ruby on Rails!!</p>
<p>I have created this test application using the ruby guide docs found <%= link_to "here.", "https://guides.rubyonrails.org/v5.1/getting_started.html", :target => "_blank" %></p>

<h1>Welcome to my Rails test app</h1>
<%= link_to 'My Blog', controller: 'articles' %>

