<h1>TeamApp Team Creator</h1>

<div id="firebaseui-auth-container"></div>
  <div id="sign-in-status"></div>
    <div id="sign-in"></div>
    <div id="account-details"></div>

    
<%= link_to 'See Articles', controller: 'articles' %>
<br>
<%= link_to 'See Teams', controller: 'teams' %>
