<%= form_with(model: [ @team, @team.players.build ]) do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.submit 'Add New Player', :class => "btn btn-primary" %>
  </p>
<% end %>

