.navbar {
  margin-bottom: 0 !important;
  border-radius: 0;
  background-color: #3364F6;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
  height: 100vh
}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

.sidenav-list li {
  list-style: none;
  margin-top: 20px;
}

.main {
  margin: 0 auto;
  margin-top: 6vh;
}

.welcome-header {
  text-align: center;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;} 
}

// Firebase main.css from Auth section
html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  background-color: #f5f5f5;
}
a {
  text-decoration: none;
}
li a {
  text-decoration: underline;
  color: #0288d1;
}
.mdl-card {
  overflow: visible;
}
.grecaptcha-logo {
  background-color: white;
}
.mdl-grid {
  max-width: 1024px;
  margin: auto;
}
.mdl-layout__header-row {
  padding: 0;
}
.quickstart-user-details-container, .user-details-container {
  margin-top: 20px;
  line-height: 25px;
}
#quickstart-sign-in-status, #sign-in-status {
  font-weight: bold;
}
pre {
  overflow-x: scroll;
  line-height: 18px;
}
code {
  white-space: pre-wrap;
  word-break: break-all;
}
h3 {
  background: url('firebase-logo.png') no-repeat;
  background-size: 40px;
  padding-left: 50px;
  color: white;
}
#verification-code-form {
  display:none;
}
#recaptcha-container {
  margin-top: 10px;
  margin-bottom: 20px;
}
#verify-code-button, #cancel-verify-code-button {
  margin-left: 20px;
}
#sign-out-button {
  display: none;
}
#sign-in-card {
  z-index: 2;
}