.navbar {
  margin-bottom: 0 !important;
  border-radius: 0;
  background-color: #3364F6;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
  height: 100vh
}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

.sidenav-list li {
  list-style: none;
  margin-top: 20px;
}

.main {
  margin: 0 auto;
  margin-top: 6vh;
}

.welcome-header {
  text-align: center;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;} 
}