// Place all the styles related to the Register controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#register {
  width: 50%;
  margin: 0 auto;
  margin-top: 40px;
  padding-top: 20px;
  text-align: center;
  font-size: 2.2em;
  border-top: 1px solid black;
}
