<div class="col-sm-2 sidenav">
  <ul class="sidenav-list">
    <li>
      <%= link_to 'Home', root_path, :class => "btn btn-primary"%>
    </li>

    <div class="authlinks"> 
      <li>
        <%= link_to 'All Teams', teams_path, :class => "btn btn-primary"%>
      </li>

      <li>
        <%= link_to 'Add Team', new_team_path, :class => "btn btn-primary"%>
      </li>
    </div>

  </ul>
</div>

<script>
firebase.auth().onAuthStateChanged(function(user) {
  if (user) {
    // User is signed in.
    console.log('Signed In');
    
  } else {
    // No user is signed in.
    console.log('Not Signed In');
    $('div.authlinks').hide();
  }
});
</script>